In [1]:
link="https://github.com/LUCEROBOCANEGRA/prac3/raw/main/appendData/"
#file names a list
level0=range(1,5)
filename=['level'+str(level)+'.xlsx' for level in level0]
filename

['level1.xlsx', 'level2.xlsx', 'level3.xlsx', 'level4.xlsx']

In [2]:
#creamos el url
links=[link+fn for fn in filename]
links

['https://github.com/LUCEROBOCANEGRA/prac3/raw/main/appendData/level1.xlsx',
 'https://github.com/LUCEROBOCANEGRA/prac3/raw/main/appendData/level2.xlsx',
 'https://github.com/LUCEROBOCANEGRA/prac3/raw/main/appendData/level3.xlsx',
 'https://github.com/LUCEROBOCANEGRA/prac3/raw/main/appendData/level4.xlsx']

In [3]:
#crar listas de df
import pandas as pd
dfs=[pd.read_excel(link) for link in links]

In [4]:
#emos cuantos hay
len(dfs)

4

In [5]:
#leemos los dfs, vemos q el primero inicia desde la fila 4 para leer los encabezados asi que esa la hacemos leer desde ahí
dfs = []
dfs.append(pd.read_excel(links[0], header=4))

# Leer los demás archivos con la configuración por defecto
for i in range(1, len(links)): 
    dfs.append(pd.read_excel(links[i]))

In [6]:
#para la primera, segunda y tercera tabla, se eliminan las dos primeras filas
for i in range(0, 3): 
    dfs[i] = dfs[i].drop(dfs[i].index[:2])  # Elimina las primeras 2 filas
    dfs[i] = dfs[i].reset_index(drop=True)  # Reinicia el índice

In [7]:
dfs[0]

,HDI rank,Country,Human Development Index (HDI),Unnamed: 3,Life expectancy at birth,Unnamed: 5,Expected years of schooling,Unnamed: 7,Mean years of schooling,Unnamed: 9,Gross national income (GNI) per capita,Unnamed: 11,GNI per capita rank minus HDI rank,Unnamed: 13,HDI rank.1,Unnamed: 15
0,1.0,Switzerland,0.962,NaN,83.9872,NaN,16.500299,NaN,13.85966,NaN,66933.00454,NaN,5.0,NaN,3.0,VERY HIGH HUMAN DEVELOPMENT
1,2.0,Norway,0.961,NaN,83.2339,NaN,18.1852,c,13.00363,NaN,64660.10622,NaN,6.0,NaN,1.0,VERY HIGH HUMAN DEVELOPMENT
2,3.0,Iceland,0.959,NaN,82.6782,NaN,19.163059,c,13.76717,NaN,55782.04981,NaN,11.0,NaN,2.0,VERY HIGH HUMAN DEVELOPMENT
3,4.0,"Hong Kong, China (SAR)",0.952,NaN,85.4734,d,17.27817,NaN,12.22621,NaN,62606.8454,NaN,6.0,NaN,4.0,VERY HIGH HUMAN DEVELOPMENT
4,5.0,Australia,0.951,NaN,84.5265,NaN,21.05459,c,12.72682,NaN,49238.43335,NaN,18.0,NaN,5.0,VERY HIGH HUMAN DEVELOPMENT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61,62.0,Malaysia,0.803,NaN,74.8839,NaN,13.34304,NaN,10.64506,NaN,26657.94355,NaN,-8.0,NaN,61.0,VERY HIGH HUMAN DEVELOPMENT
62,63.0,Georgia,0.802,NaN,71.694,NaN,15.56852,NaN,12.82222,NaN,14664.16825,NaN,17.0,NaN,64.0,VERY HIGH HUMAN DEVELOPMENT
63,63.0,Mauritius,0.802,NaN,73.5552,NaN,15.17353,e,10.42791,e,22025.34631,NaN,-1.0,NaN,62.0,VERY HIGH HUMAN DEVELOPMENT
64,63.0,Serbia,0.802,NaN,74.1923,NaN,14.40009,NaN,11.36987,NaN,19123.02747,NaN,4.0,NaN,62.0,VERY HIGH HUMAN DEVELOPMENT
65,66.0,Thailand,0.8,NaN,78.7154,NaN,15.882219,m,8.69712,NaN,17030.15352,NaN,6.0,NaN,64.0,VERY HIGH HUMAN DEVELOPMENT

In [8]:
dfs[1]

,HDI rank,Country,Human Development Index (HDI),Life expectancy at birth,Expected years of schooling,Mean years of schooling,Unnamed: 6,Gross national income (GNI) per capita,Unnamed: 8,GNI per capita rank minus HDI rank,Unnamed: 10,HDI rank.1
0,67.0,Albania,0.796,76.4626,14.448000,11.286455,e,14131.110390,NaN,17.0,NaN,68.0
1,68.0,Bulgaria,0.795,71.7980,13.897290,11.413180,NaN,23078.955950,NaN,-8.0,NaN,64.0
2,68.0,Grenada,0.795,74.9362,18.662020,9.032104,l,13483.577400,NaN,18.0,NaN,70.0
3,70.0,Barbados,0.790,77.5714,15.713385,9.852701,n,12306.341000,NaN,26.0,NaN,71.0
4,71.0,Antigua and Barbuda,0.788,78.4968,14.184626,9.293741,j,16792.365950,NaN,2.0,NaN,71.0
5,72.0,Seychelles,0.785,71.2945,13.941610,10.283120,NaN,25830.617750,NaN,-17.0,NaN,69.0
6,73.0,Sri Lanka,0.782,76.3991,14.139905,10.827300,NaN,12578.220550,NaN,21.0,NaN,75.0
7,74.0,Bosnia and Herzegovina,0.780,75.3003,13.800000,10.536320,NaN,15241.914650,NaN,4.0,NaN,73.0
8,75.0,Saint Kitts and Nevis,0.777,71.6822,15.427692,8.662745,l,23358.332120,NaN,-16.0,NaN,76.0
9,76.0,Iran (Islamic Republic of),0.774,73.8749,14.615250,10.636453,e,13000.711700,NaN,15.0,NaN,77.0
10,77.0,Ukraine,0.773,71.6240,14.956569,11.131420,n,13255.509770,NaN,11.0,NaN,78.0
11,78.0,North Macedonia,0.770,73.8415,13.624432,10.228150,NaN,15917.752830,NaN,-3.0,NaN,79.0
12,79.0,China,0.768,78.2107,14.236115,7.600118,n,17504.399690,NaN,-8.0,NaN,82.0
13,80.0,Dominican Republic,0.767,72.6146,14.466558,9.306864,o,17989.600370,NaN,-11.0,NaN,82.0
14,80.0,Moldova (Republic of),0.767,68.8459,14.433000,11.821590,NaN,14875.331890,NaN,-1.0,NaN,81.0
15,80.0,Palau,0.767,66.0204,15.784320,12.491430,p,13818.678690,NaN,5.0,NaN,80.0
16,83.0,Cuba,0.764,73.6829,14.443060,12.497734,e,7878.847482,q,37.0,NaN,73.0
17,84.0,Peru,0.762,72.3769,15.387734,9.885519,e,12245.893660,NaN,13.0,NaN,85.0
18,85.0,Armenia,0.759,72.0431,13.116760,11.330300,NaN,13157.993900,NaN,4.0,NaN,87.0
19,86.0,Mexico,0.758,70.2127,14.864440,9.221050,NaN,17896.294980,NaN,-16.0,NaN,88.0
20,87.0,Brazil,0.754,72.7504,15.599060,8.128814,e,14369.888480,NaN,-5.0,NaN,86.0
21,88.0,Colombia,0.752,72.8296,14.442750,8.862860,NaN,14384.356660,NaN,-7.0,NaN,88.0
22,89.0,Saint Vincent and the Grenadines,0.751,69.6291,14.672206,10.833430,NaN,11961.087920,NaN,11.0,NaN,82.0
23,90.0,Maldives,0.747,79.9182,12.635610,7.322000,NaN,15448.127880,NaN,-14.0,NaN,97.0
24,91.0,Algeria,0.745,76.3767,14.626896,8.069284,e,10800.225460,NaN,13.0,NaN,96.0
25,91.0,Azerbaijan,0.745,69.3658,13.496890,10.542970,NaN,14256.744560,NaN,-8.0,NaN,100.0
26,91.0,Tonga,0.745,70.9857,16.048571,11.392594,n,6822.031250,NaN,34.0,NaN,90.0
27,91.0,Turkmenistan,0.745,69.2644,13.210400,11.261390,NaN,13020.715500,NaN,-1.0,NaN,93.0
28,95.0,Ecuador,0.740,73.6700,14.624230,8.817120,NaN,10311.632730,NaN,11.0,NaN,99.0
29,96.0,Mongolia,0.739,70.9754,14.980350,9.423700,NaN,10588.225320,NaN,9.0,NaN,90.0
30,97.0,Egypt,0.731,70.2207,13.786500,9.573026,e,11731.690560,NaN,4.0,NaN,97.0
31,97.0,Tunisia,0.731,73.7719,15.425382,7.431599,e,10257.544770,NaN,10.0,NaN,94.0
32,99.0,Fiji,0.730,67.1140,14.736790,10.921548,e,9980.110866,NaN,9.0,NaN,94.0
33,99.0,Suriname,0.730,70.2743,13.035644,9.776801,m,12672.200330,NaN,-6.0,NaN,92.0
34,101.0,Uzbekistan,0.727,70.8616,12.477140,11.895590,NaN,7916.785725,NaN,18.0,NaN,107.0
35,102.0,Dominica,0.720,72.8140,13.319186,8.142186,j,11487.624220,NaN,0.0,NaN,106.0
36,102.0,Jordan,0.720,74.2563,10.646560,10.446680,NaN,9923.714974,NaN,8.0,NaN,104.0
37,104.0,Libya,0.718,71.9112,12.854280,7.599985,r,15335.712000,NaN,-27.0,NaN,117.0
38,105.0,Paraguay,0.717,70.2617,12.987991,8.861840,NaN,12349.286000,NaN,-10.0,NaN,100.0
39,106.0,"Palestine, State of",0.715,73.4727,13.358010,9.938480,NaN,6582.899416,NaN,21.0,NaN,109.0
40,106.0,Saint Lucia,0.715,71.1114,12.866110,8.545040,NaN,12048.303810,NaN,-7.0,NaN,104.0
41,108.0,Guyana,0.714,65.6734,12.502722,8.617477,NaN,22464.657340,NaN,-47.0,NaN,107.0
42,109.0,South Africa,0.713,62.3410,13.643710,11.373160,NaN,12948.373250,NaN,-17.0,NaN,102.0
43,110.0,Jamaica,0.709,70.5003,13.404920,9.154629,e,8834.475670,NaN,4.0,NaN,110.0
44,111.0,Samoa,0.707,72.7675,12.418859,11.403800,NaN,5307.953374,NaN,24.0,NaN,112.0
45,112.0,Gabon,0.706,65.8210,12.977310,9.436000,NaN,13366.934550,NaN,-25.0,NaN,113.0
46,112.0,Lebanon,0.706,75.0472,11.285870,8.718636,l,9525.831467,NaN,-1.0,NaN,103.0
47,114.0,Indonesia,0.705,67.5703,13.748894,8.556510,NaN,11466.068360,NaN,-11.0,NaN,116.0
48,115.0,Viet Nam,0.703,73.6181,12.951932,8.370280,NaN,7867.371345,NaN,6.0,NaN,113.0

In [9]:
dfs[2]

,HDI rank,Country,Human Development Index (HDI),Unnamed: 3,Life expectancy at birth,Unnamed: 5,Expected years of schooling,Unnamed: 7,Mean years of schooling,Unnamed: 9,Gross national income (GNI) per capita,Unnamed: 11,GNI per capita rank minus HDI rank,Unnamed: 13,HDI rank.1
0,116.0,Philippines,0.699,NaN,69.2664,NaN,13.126570,NaN,8.969100,NaN,8920.428468,NaN,-3.0,NaN,113.0
1,117.0,Botswana,0.693,NaN,61.1409,NaN,12.265138,e,10.340000,NaN,16198.318410,NaN,-43.0,NaN,110.0
2,118.0,Bolivia (Plurinational State of),0.692,NaN,63.6304,NaN,14.946971,NaN,9.827750,NaN,8111.190194,NaN,0.0,NaN,119.0
3,118.0,Kyrgyzstan,0.692,NaN,69.9774,NaN,13.195300,NaN,11.374106,n,4566.303831,NaN,26.0,NaN,121.0
4,120.0,Venezuela (Bolivarian Republic of),0.691,NaN,70.5536,NaN,12.816080,p,11.107277,e,4810.882621,t,20.0,NaN,118.0
5,121.0,Iraq,0.686,NaN,70.3779,NaN,12.087473,s,7.905593,m,9977.249073,NaN,-12.0,NaN,122.0
6,122.0,Tajikistan,0.685,NaN,71.5942,NaN,11.653036,e,11.333394,n,4547.742427,NaN,23.0,NaN,126.0
7,123.0,Belize,0.683,NaN,70.4697,NaN,12.991690,NaN,8.847600,NaN,6309.099778,NaN,6.0,NaN,120.0
8,123.0,Morocco,0.683,NaN,74.0419,NaN,14.151910,NaN,5.916000,NaN,7302.819170,NaN,1.0,NaN,122.0
9,125.0,El Salvador,0.675,NaN,70.7479,NaN,12.671348,o,7.150930,NaN,8295.665889,NaN,-8.0,NaN,124.0
10,126.0,Nicaragua,0.667,NaN,73.8368,NaN,12.641358,o,7.144000,NaN,5624.793595,NaN,6.0,NaN,129.0
11,127.0,Bhutan,0.666,NaN,71.8150,NaN,13.225005,e,5.170262,e,9437.541512,NaN,-15.0,NaN,125.0
12,128.0,Cabo Verde,0.662,NaN,74.0518,NaN,12.554614,e,6.287719,p,6230.200199,NaN,2.0,NaN,127.0
13,129.0,Bangladesh,0.661,NaN,72.3811,NaN,12.441980,NaN,7.379060,NaN,5472.104781,NaN,4.0,NaN,128.0
14,130.0,Tuvalu,0.641,NaN,64.5466,NaN,9.404430,e,10.573108,NaN,6351.435899,NaN,-2.0,NaN,131.0
15,131.0,Marshall Islands,0.639,NaN,65.2688,NaN,10.239320,NaN,10.883140,NaN,4619.535393,NaN,12.0,NaN,131.0
16,132.0,India,0.633,NaN,67.2398,NaN,11.874620,NaN,6.655109,n,6589.980037,NaN,-6.0,NaN,130.0
17,133.0,Ghana,0.632,NaN,63.7954,NaN,12.047780,NaN,8.329887,n,5744.504017,NaN,-2.0,NaN,135.0
18,134.0,Micronesia (Federated States of),0.628,NaN,70.7100,NaN,11.549480,j,7.804956,l,3696.173945,NaN,22.0,NaN,136.0
19,135.0,Guatemala,0.627,NaN,69.2368,NaN,10.562450,NaN,5.681300,NaN,8723.285317,NaN,-20.0,NaN,133.0
20,136.0,Kiribati,0.624,NaN,67.4172,NaN,11.801993,NaN,7.984462,s,4062.586034,NaN,14.0,NaN,137.0
21,137.0,Honduras,0.621,NaN,70.1229,NaN,10.132814,o,7.088480,NaN,5297.955301,NaN,-1.0,NaN,138.0
22,138.0,Sao Tome and Principe,0.618,NaN,67.5912,NaN,13.365385,NaN,6.215599,m,4021.350815,NaN,13.0,NaN,139.0
23,139.0,Namibia,0.615,NaN,59.2690,NaN,11.927207,u,7.192013,n,8633.504452,NaN,-23.0,NaN,134.0
24,140.0,Lao People's Democratic Republic,0.607,NaN,68.0608,NaN,10.136110,NaN,5.374000,NaN,7699.579617,NaN,-18.0,NaN,142.0
25,140.0,Timor-Leste,0.607,NaN,67.7369,NaN,12.616098,p,5.436790,NaN,4460.869435,NaN,7.0,NaN,140.0
26,140.0,Vanuatu,0.607,NaN,70.4490,NaN,11.535315,e,7.064846,v,3085.411633,NaN,23.0,NaN,142.0
27,143.0,Nepal,0.602,NaN,68.4495,NaN,12.886950,NaN,5.121793,n,3877.315444,NaN,10.0,NaN,144.0
28,144.0,Eswatini (Kingdom of),0.597,NaN,57.0657,NaN,13.744346,e,5.596000,NaN,7678.591873,NaN,-21.0,NaN,141.0
29,145.0,Equatorial Guinea,0.596,NaN,60.5943,NaN,9.734940,l,5.910863,j,12073.959930,NaN,-47.0,NaN,147.0
30,146.0,Cambodia,0.593,NaN,69.5835,NaN,11.467720,w,5.088000,NaN,4078.697154,NaN,3.0,NaN,148.0
31,146.0,Zimbabwe,0.593,NaN,59.2531,NaN,12.110969,e,8.710909,e,3809.887158,NaN,9.0,NaN,145.0
32,148.0,Angola,0.586,NaN,61.6434,NaN,12.172100,NaN,5.417391,NaN,5465.617791,NaN,-14.0,NaN,149.0
33,149.0,Myanmar,0.585,NaN,65.6716,NaN,10.909138,e,6.376800,NaN,3850.524234,NaN,5.0,NaN,145.0
34,150.0,Syrian Arab Republic,0.577,NaN,72.0627,NaN,9.164220,NaN,5.100000,l,4191.933893,x,-2.0,NaN,152.0
35,151.0,Cameroon,0.576,NaN,60.3334,NaN,13.108599,e,6.151310,n,3620.932408,NaN,6.0,NaN,150.0
36,152.0,Kenya,0.575,NaN,61.4270,NaN,10.698558,u,6.652000,NaN,4473.570344,NaN,-6.0,NaN,150.0
37,153.0,Congo,0.571,NaN,63.5187,NaN,12.330815,e,6.166000,NaN,2889.283521,NaN,11.0,NaN,153.0
38,154.0,Zambia,0.565,NaN,61.2234,NaN,10.928760,w,7.187091,n,3217.767739,NaN,7.0,NaN,154.0
39,155.0,Solomon Islands,0.564,NaN,70.3477,NaN,10.328690,e,5.711848,s,2481.511362,NaN,13.0,NaN,155.0
40,156.0,Comoros,0.558,NaN,63.4174,NaN,11.924324,e,5.078649,l,3142.064119,NaN,6.0,NaN,156.0
41,156.0,Papua New Guinea,0.558,NaN,65.3506,NaN,10.360771,u,4.740000,NaN,4008.623573,NaN,-4.0,NaN,157.0
42,158.0,Mauritania,0.556,NaN,64.3636,NaN,9.376160,NaN,4.918805,n,5075.305711,NaN,-20.0,NaN,158.0
43,159.0,Côte d'Ivoire,0.550,NaN,58.5983,NaN,10.675580,NaN,5.199139,n,5217.448516,NaN,-22.0,NaN,159.0

In [10]:
# Obtener un df que contenga de todos los dfs las mismams columnas
encabezados_primer_df = list(dfs[0].columns)

# Encontrar los encabezados comunes a todos los DataFrames
encabezados_comunes = encabezados_primer_df.copy()
for df in dfs[1:]:
    encabezados_comunes = [encabezado for encabezado in encabezados_comunes if encabezado in df.columns]

# Seleccionar solo las columnas con encabezados comunes en cada DataFrame
for i in range(len(dfs)):
    dfs[i] = dfs[i][encabezados_comunes]

# Concatenar los DataFrames
df_final = pd.concat(dfs, ignore_index=True)

In [11]:
df_final

,HDI rank,Country,Human Development Index (HDI),Life expectancy at birth,Expected years of schooling,Mean years of schooling,Gross national income (GNI) per capita,GNI per capita rank minus HDI rank
0,1.0,Switzerland,0.962,83.9872,16.500299,13.85966,66933.00454,5.0
1,2.0,Norway,0.961,83.2339,18.1852,13.00363,64660.10622,6.0
2,3.0,Iceland,0.959,82.6782,19.163059,13.76717,55782.04981,11.0
3,4.0,"Hong Kong, China (SAR)",0.952,85.4734,17.27817,12.22621,62606.8454,6.0
4,5.0,Australia,0.951,84.5265,21.05459,12.72682,49238.43335,18.0
...,...,...,...,...,...,...,...,...
186,187.0,Burundi,0.426,61.6627,10.722722,3.129267,731.786709,4.0
187,188.0,Central African Republic,0.404,53.8947,8.040172,4.334,966.058611,1.0
188,189.0,Niger,0.4,61.5763,6.957112,2.116717,1239.866936,-3.0
189,190.0,Chad,0.394,52.5254,8.035914,2.573774,1364.169417,-7.0
190,191.0,South Sudan,0.385,54.9752,5.54251,5.72614,767.787,-1.0

In [12]:
import pandas as pd
enlace ="https://github.com/LUCEROBOCANEGRA/prac3/raw/refs/heads/main/countryCODES.xlsx"
country= pd.read_excel(enlace)
country

,Country,Officialstatename,InternetccTLD,iso2,iso3
0,AFGHANISTAN,The Islamic Republic of Afghanistan,.af,AF,AFG
1,ALBANIA,The Republic of Albania,.al,AL,ALB
2,ALGERIA,The People's Democratic Republic of Algeria,.dz,DZ,DZA
3,ANGOLA,The Republic of Angola,.ao,AO,AGO
4,ANTIGUA AND BARBUDA,Antigua and Barbuda,.ag,AG,ATG
...,...,...,...,...,...
166,UZBEKISTAN,The Republic of Uzbekistan,.uz,UZ,UZB
167,VIET NAM,The Socialist Republic of Viet Nam,.vn,VN,VNM
168,YEMEN,The Republic of Yemen,.ye,YE,YEM
169,ZAMBIA,The Republic of Zambia,.zm,ZM,ZMB
170,ZIMBABWE,The Republic of Zimbabwe,.zw,ZW,ZWE

In [23]:
#como los nombres están en mayúsculas, formateamos el DF inicial
df_final['Country']=df_final.Country.str.upper()
df_final

,HDI rank,Country,Human Development Index (HDI),Life expectancy at birth,Expected years of schooling,Mean years of schooling,Gross national income (GNI) per capita,GNI per capita rank minus HDI rank
0,1.0,SWITZERLAND,0.962,83.9872,16.500299,13.85966,66933.00454,5.0
1,2.0,NORWAY,0.961,83.2339,18.1852,13.00363,64660.10622,6.0
2,3.0,ICELAND,0.959,82.6782,19.163059,13.76717,55782.04981,11.0
3,4.0,"HONG KONG, CHINA (SAR)",0.952,85.4734,17.27817,12.22621,62606.8454,6.0
4,5.0,AUSTRALIA,0.951,84.5265,21.05459,12.72682,49238.43335,18.0
...,...,...,...,...,...,...,...,...
186,187.0,BURUNDI,0.426,61.6627,10.722722,3.129267,731.786709,4.0
187,188.0,CENTRAL AFRICAN REPUBLIC,0.404,53.8947,8.040172,4.334,966.058611,1.0
188,189.0,NIGER,0.4,61.5763,6.957112,2.116717,1239.866936,-3.0
189,190.0,CHAD,0.394,52.5254,8.035914,2.573774,1364.169417,-7.0
190,191.0,SOUTH SUDAN,0.385,54.9752,5.54251,5.72614,767.787,-1.0

In [25]:
# Realizar el merge. Asumimos que la clave común es 'Country'
merged_df = df_final.merge(country,how='left', left_on='Country', right_on = 'Country')
merged_df

,HDI rank,Country,Human Development Index (HDI),Life expectancy at birth,Expected years of schooling,Mean years of schooling,Gross national income (GNI) per capita,GNI per capita rank minus HDI rank,Officialstatename,InternetccTLD,iso2,iso3
0,1.0,SWITZERLAND,0.962,83.9872,16.500299,13.85966,66933.00454,5.0,The Swiss Confederation,.ch,CH,CHE
1,2.0,NORWAY,0.961,83.2339,18.1852,13.00363,64660.10622,6.0,The Kingdom of Norway,.no,NO,NOR
2,3.0,ICELAND,0.959,82.6782,19.163059,13.76717,55782.04981,11.0,Iceland,.is,IS,ISL
3,4.0,"HONG KONG, CHINA (SAR)",0.952,85.4734,17.27817,12.22621,62606.8454,6.0,NaN,NaN,NaN,NaN
4,5.0,AUSTRALIA,0.951,84.5265,21.05459,12.72682,49238.43335,18.0,The Commonwealth of Australia,.au,AU,AUS
...,...,...,...,...,...,...,...,...,...,...,...,...
186,187.0,BURUNDI,0.426,61.6627,10.722722,3.129267,731.786709,4.0,The Republic of Burundi,.bi,BI,BDI
187,188.0,CENTRAL AFRICAN REPUBLIC,0.404,53.8947,8.040172,4.334,966.058611,1.0,NaN,NaN,NaN,NaN
188,189.0,NIGER,0.4,61.5763,6.957112,2.116717,1239.866936,-3.0,NaN,NaN,NaN,NaN
189,190.0,CHAD,0.394,52.5254,8.035914,2.573774,1364.169417,-7.0,The Republic of Chad,.td,TD,TCD
190,191.0,SOUTH SUDAN,0.385,54.9752,5.54251,5.72614,767.787,-1.0,The Republic of South Sudan,.ss,SS,SSD

In [26]:
#renombrando columnas
newNames = ['GNI', 'rank', 'years_school', 'life_exp', 'GNIminHDI','exp_school', 'HDI', 'country', 'of_name', 'TLD', 'iso2', 'iso3']
merged_df.columns = newNames
merged_df

,GNI,rank,years_school,life_exp,GNIminHDI,exp_school,HDI,country,of_name,TLD,iso2,iso3
0,1.0,SWITZERLAND,0.962,83.9872,16.500299,13.85966,66933.00454,5.0,The Swiss Confederation,.ch,CH,CHE
1,2.0,NORWAY,0.961,83.2339,18.1852,13.00363,64660.10622,6.0,The Kingdom of Norway,.no,NO,NOR
2,3.0,ICELAND,0.959,82.6782,19.163059,13.76717,55782.04981,11.0,Iceland,.is,IS,ISL
3,4.0,"HONG KONG, CHINA (SAR)",0.952,85.4734,17.27817,12.22621,62606.8454,6.0,NaN,NaN,NaN,NaN
4,5.0,AUSTRALIA,0.951,84.5265,21.05459,12.72682,49238.43335,18.0,The Commonwealth of Australia,.au,AU,AUS
...,...,...,...,...,...,...,...,...,...,...,...,...
186,187.0,BURUNDI,0.426,61.6627,10.722722,3.129267,731.786709,4.0,The Republic of Burundi,.bi,BI,BDI
187,188.0,CENTRAL AFRICAN REPUBLIC,0.404,53.8947,8.040172,4.334,966.058611,1.0,NaN,NaN,NaN,NaN
188,189.0,NIGER,0.4,61.5763,6.957112,2.116717,1239.866936,-3.0,NaN,NaN,NaN,NaN
189,190.0,CHAD,0.394,52.5254,8.035914,2.573774,1364.169417,-7.0,The Republic of Chad,.td,TD,TCD
190,191.0,SOUTH SUDAN,0.385,54.9752,5.54251,5.72614,767.787,-1.0,The Republic of South Sudan,.ss,SS,SSD

In [27]:
merged_df.isnull().sum()

GNI              0
rank             0
years_school     0
life_exp         0
GNIminHDI        0
exp_school       0
HDI              0
country          0
of_name         42
TLD             42
iso2            43
iso3            42
dtype: int64

In [28]:

#eliminando los valores:
merged_df = merged_df.dropna()
merged_df

,GNI,rank,years_school,life_exp,GNIminHDI,exp_school,HDI,country,of_name,TLD,iso2,iso3
0,1.0,SWITZERLAND,0.962,83.9872,16.500299,13.85966,66933.00454,5.0,The Swiss Confederation,.ch,CH,CHE
1,2.0,NORWAY,0.961,83.2339,18.1852,13.00363,64660.10622,6.0,The Kingdom of Norway,.no,NO,NOR
2,3.0,ICELAND,0.959,82.6782,19.163059,13.76717,55782.04981,11.0,Iceland,.is,IS,ISL
4,5.0,AUSTRALIA,0.951,84.5265,21.05459,12.72682,49238.43335,18.0,The Commonwealth of Australia,.au,AU,AUS
5,6.0,DENMARK,0.948,81.3753,18.7148,12.96049,60364.78595,6.0,The Kingdom of Denmark,.dk,DK,DNK
...,...,...,...,...,...,...,...,...,...,...,...,...
184,185.0,MOZAMBIQUE,0.446,59.3247,10.219152,3.197642,1198.073924,2.0,The Republic of Mozambique,.mz,MZ,MOZ
185,186.0,MALI,0.428,58.9414,7.423038,2.31,2132.629443,-11.0,The Republic of Mali,.ml,ML,MLI
186,187.0,BURUNDI,0.426,61.6627,10.722722,3.129267,731.786709,4.0,The Republic of Burundi,.bi,BI,BDI
189,190.0,CHAD,0.394,52.5254,8.035914,2.573774,1364.169417,-7.0,The Republic of Chad,.td,TD,TCD
190,191.0,SOUTH SUDAN,0.385,54.9752,5.54251,5.72614,767.787,-1.0,The Republic of South Sudan,.ss,SS,SSD

In [29]:
#ordenando las columnas
merged_df.set_index(['country', 'of_name', 'rank', 'TLD', 'iso2', 'iso3'], inplace=True)
merged_df.head()

,,,,,,GNI,years_school,life_exp,GNIminHDI,exp_school,HDI
country,of_name,rank,TLD,iso2,iso3,,,,,,
5.0,The Swiss Confederation,SWITZERLAND,.ch,CH,CHE,1.0,0.962,83.9872,16.500299,13.85966,66933.00454
6.0,The Kingdom of Norway,NORWAY,.no,NO,NOR,2.0,0.961,83.2339,18.1852,13.00363,64660.10622
11.0,Iceland,ICELAND,.is,IS,ISL,3.0,0.959,82.6782,19.163059,13.76717,55782.04981
18.0,The Commonwealth of Australia,AUSTRALIA,.au,AU,AUS,5.0,0.951,84.5265,21.05459,12.72682,49238.43335
6.0,The Kingdom of Denmark,DENMARK,.dk,DK,DNK,6.0,0.948,81.3753,18.7148,12.96049,60364.78595

In [30]:
#orden alfabético
merged_df.sort_index(axis=1,inplace=True)

C:\Users\holal\AppData\Local\Temp\ipykernel_9432\2766999454.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_df.sort_index(axis=1,inplace=True)

In [31]:
#regresando los índices seleccionados
merged_df.reset_index(inplace=True)
merged_df

,country,of_name,rank,TLD,iso2,iso3,GNI,GNIminHDI,HDI,exp_school,life_exp,years_school
0,5.0,The Swiss Confederation,SWITZERLAND,.ch,CH,CHE,1.0,16.500299,66933.00454,13.85966,83.9872,0.962
1,6.0,The Kingdom of Norway,NORWAY,.no,NO,NOR,2.0,18.1852,64660.10622,13.00363,83.2339,0.961
2,11.0,Iceland,ICELAND,.is,IS,ISL,3.0,19.163059,55782.04981,13.76717,82.6782,0.959
3,18.0,The Commonwealth of Australia,AUSTRALIA,.au,AU,AUS,5.0,21.05459,49238.43335,12.72682,84.5265,0.951
4,6.0,The Kingdom of Denmark,DENMARK,.dk,DK,DNK,6.0,18.7148,60364.78595,12.96049,81.3753,0.948
...,...,...,...,...,...,...,...,...,...,...,...,...
143,2.0,The Republic of Mozambique,MOZAMBIQUE,.mz,MZ,MOZ,185.0,10.219152,1198.073924,3.197642,59.3247,0.446
144,-11.0,The Republic of Mali,MALI,.ml,ML,MLI,186.0,7.423038,2132.629443,2.31,58.9414,0.428
145,4.0,The Republic of Burundi,BURUNDI,.bi,BI,BDI,187.0,10.722722,731.786709,3.129267,61.6627,0.426
146,-7.0,The Republic of Chad,CHAD,.td,TD,TCD,190.0,8.035914,1364.169417,2.573774,52.5254,0.394
147,-1.0,The Republic of South Sudan,SOUTH SUDAN,.ss,SS,SSD,191.0,5.54251,767.787,5.72614,54.9752,0.385

In [33]:
# ultima parte
covid = pd.read_csv("https://github.com/LUCEROBOCANEGRA/prac3/raw/refs/heads/main/fallecidosCOVID.csv")
covid

       FECHA_CORTE;FECHA_FALLECIMIENTO;EDAD_DECLARADA;SEXO;CLASIFICACION_DEF;DEPARTAMENTO;PROVINCIA;DISTRITO;UBIGEO;UUID
0       20240317;20220219;63;MASCULINO;Criterio viroló...
1       20240317;20210529;74;MASCULINO;Criterio viroló...
2       20240317;20210623;72;FEMENINO;Criterio SINADEF...
3       20240317;20210824;85;MASCULINO;Criterio invest...
4       20240317;20210627;46;MASCULINO;Criterio viroló...
...                                                   ...
220913  20240317;20200809;77;MASCULINO;Criterio radiol...
220914  20240317;20201028;81;MASCULINO;Criterio clínic...
220915  20240317;20200515;68;FEMENINO;Criterio SINADEF...
220916  20240317;20210414;66;FEMENINO;Criterio clínico...
220917  20240317;20200819;61;MASCULINO;Criterio nexo e...

[220918 rows x 1 columns]

In [34]:
#hacemos que se vuelva todo en varias columnas
covid[['FECHA_CORTE', 'FECHA_FALLECIMIENTO', 'EDAD_DECLARADA', 'SEXO', 'CLASIFICACION_DEF', 'DEPARTAMENTO', 'PROVINCIA', 'DISTRITO', 'UBIGEO', 'UUID']] = covid['FECHA_CORTE;FECHA_FALLECIMIENTO;EDAD_DECLARADA;SEXO;CLASIFICACION_DEF;DEPARTAMENTO;PROVINCIA;DISTRITO;UBIGEO;UUID'].str.split(';', expand=True)

In [35]:
#eliminamos la primera columna, en la que estan todos los datos juntos
columnas_eliminar= ['FECHA_CORTE;FECHA_FALLECIMIENTO;EDAD_DECLARADA;SEXO;CLASIFICACION_DEF;DEPARTAMENTO;PROVINCIA;DISTRITO;UBIGEO;UUID']  
covid = covid.drop(columns=columnas_eliminar)

In [39]:
#eliminar las columnas 'corte' y 'uuid' ya que no se necesita
bye=['FECHA_CORTE', 'UUID']
covid = covid.drop(columns=bye)
covid

,FECHA_FALLECIMIENTO,EDAD_DECLARADA,SEXO,CLASIFICACION_DEF,DEPARTAMENTO,PROVINCIA,DISTRITO,UBIGEO
0,20220219,63,MASCULINO,Criterio virológico,TUMBES,TUMBES,TUMBES,240101
1,20210529,74,MASCULINO,Criterio virológico,TUMBES,TUMBES,TUMBES,240101
2,20210623,72,FEMENINO,Criterio SINADEF,TACNA,TACNA,ALTO DE LA ALIANZA,230102
3,20210824,85,MASCULINO,Criterio investigación Epidemiológica,TUMBES,TUMBES,TUMBES,240101
4,20210627,46,MASCULINO,Criterio virológico,TACNA,TACNA,ALTO DE LA ALIANZA,230102
...,...,...,...,...,...,...,...,...
220913,20200809,77,MASCULINO,Criterio radiológico,AREQUIPA,AREQUIPA,ALTO SELVA ALEGRE,040102
220914,20201028,81,MASCULINO,Criterio clínico,LAMBAYEQUE,CHICLAYO,CHICLAYO,140101
220915,20200515,68,FEMENINO,Criterio SINADEF,LIMA,LIMA,LA MOLINA,150114
220916,20210414,66,FEMENINO,Criterio clínico,LIMA,LIMA,LOS OLIVOS,150117
220917,20200819,61,MASCULINO,Criterio nexo epidemiológico,PIURA,PIURA,TAMBO GRANDE,200114